root = true

[*]
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,html,js,json,svg,yml}]
indent_size = 2

[*.{html,json,svg}]
insert_final_newline = false
