[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
]

[licenses.private]
ignore = true

[bans]
skip = [
    "core-foundation@0.9",
    "getrandom@0.2",
    "thiserror@1",
    "thiserror-impl@1",
]
skip-tree = [
    { crate = "windows-sys@0.45", depth = 3 },
    { crate = "windows-sys@0.60", depth = 3 },
]
