[licenses]
allow = [
    "Apache-2.0",
    "BSD-3-Clause",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
]

[licenses.private]
ignore = true

[bans]
skip = [
    "thiserror@1",
    "thiserror-impl@1",
]
skip-tree = [
    { crate = "windows-sys@0.48", depth = 3 },
    { crate = "windows-sys@0.52", depth = 3 },
    { crate = "windows-sys@0.59", depth = 3 },
]
